.vis {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: auto;
	width: auto;
}
/* Styling for the legend */
#legend {
	background-color: white;
	border: 1px solid #ccc;
	padding: 10px;
	width: 200px;
  }
  
  /* Styling for legend items */
  .legend-item {
	margin-bottom: 5px;
  }
  
  /* Styling for legend color boxes */
  .legend-color {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
  }
  